<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Framer.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Framer.Settings1>
            <setting name="saveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="backColor" serializeAs="String">
                <value>7f7f7f</value>
            </setting>
            <setting name="fontColor" serializeAs="String">
                <value>000000</value>
            </setting>
            <setting name="fontIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="windowTop" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="windowLeft" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="isUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>60</value>
            </setting>
        </Framer.Settings1>
    </userSettings>
</configuration>